<%= simple_form_for @user, html: { id: 'edit_user_info', class: 'flex flex-col justify-center items-center mx-4' } do |f| %>
  <%= f.label :avatar do %>
    <%= cl_image_tag @user.avatar.key, class: "avatar w-28 h-28 mx-auto mb-2" %>
    <span class="underline cursor-pointer">Changer ma photo</span>
    <%= f.file_field :avatar, class: "hidden" %>
  <% end %>

  <hr class="dashed">

  <%= f.label :username do %>
    <span class="text-secondary-200">Pseudo</span>
    <%= f.input :username, label: false, input_html: { class: 'border-2 border-secondary-100 py-4 w-full rounded-full px-4 mb-4 mt-2' } %>
  <% end %>
  <div class="text-center">
    <%= f.submit 'SAUVEGARDER', class: 'btn-primary mt-4' %>
  </div>
<% end %>