<div>
    <%= image_tag 'logo.png', alt: 'logo', class: 'logo-lg m-auto mb-10' %>
</div>

<div class='rules'>
    <div class="earn-carrots">
        <%= image_tag 'earn_carrots.png', alt: 'use_carrots', class:"rules-icons"%>
        <p class="rules-text">Gagne des carottes en faisant des tâches</p>
    </div>

    <div class="margin-b-32">
        <%= image_tag 'credit_card.png', alt: 'use_carrots', class:"rules-icons"%>
        <p class="rules-text">Utilise tes carottes pour réassigner une de tes tâches !</p>   
    </div>
</div>

<div class="text-center coloc-button">
    
    <%= link_to "JE CRÉE MA COLOC'",new_coloc_path, class: 'btn-primary' %>
    <%= link_to "J'EN REJOINS UNE",join_coloc_path, class: 'btn-ghost' %>
</div>

<div>
    <%= link_to "Au revoir !", destroy_user_session_path, method: :delete %>
</div>