<div class="lg:flex lg:-mt-24 lg:h-screen lg:items-center">
  <%= render 'shared/logo_banner' %>
  
  <div class="bnr-side-content">
    <div class="text-center mb-8 lg:mb-12">
      <p class="font-default text-xl mb-4 text-primary-200 font-medium lg:text-2xl lg:mb-8">Connexion</p>
      <p class="font-default text-sm lg:text-base">Pas encore de compte ?</p>
      <%= link_to "S'inscrire" , new_registration_path(resource_name),
        class: 'text-secondary-200 text-sm btn-border-purple lg:text-base' %>
    </div>

    <div class="log-in-form">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
        <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
        <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
        <%= f.input :email,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "input-form-border-purple placeholder" },
                    label: false,
                    placeholder: 'Entre ton adresse mail' %>

        <%= f.input :password,
                    input_html: { autocomplete: "current-password", class: "input-form-border-purple placeholder" },
                    label: false,
                    placeholder: 'Entre ton mot de passe' %>
      
        <%= f.input :remember_me,
                    as: :boolean,
                    label: "Se souvenir de moi",
                    input_html: { class: "mb-4 text-sm lg:mb-8" } if devise_mapping.rememberable? %>
      
        <%= f.submit "Je me connecte", class: 'btn-primary mb-4' %>
      <% end %>

      <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), class: "text-secondary-200 text-sm btn-border-purple" %>
    </div>
  </div>
</div>