<h2></h2>

<div class="log-in-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Entre ton adresse mail', class: "input-form-border-purple placeholder" %>
    </div>
  
    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Entre ton mot de passe', class: "input-form-border-purple placeholder"  %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="field margin-b-32">
          <%= f.check_box :remember_me %>
          <p><%= f.label :se_souvenir %></p> 
      </div>
    <% end %>
  
    <div class="actions">
      <%= f.submit "Je me connecte", class: 'btn-primary' %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>

</div>
