<%= form_with model: @coloc do |form| %>
  <h2 class="text-center mb-8 font-medium text-xl lg:text-2xl">Choisis les tâches de ta Coloc'</h2>
  <ul class="task_grid mx-4 mb-32 lg:mb-40">
    <%= form.fields_for :coloc_tasks do |coloc_tasks_fields| %>
      <li class="switch-task filter grayscale">
        <div>
          <%= cl_image_tag coloc_tasks_fields.object.task.image.key, class:"w-12 h-12 lg:h-16 lg:w-16 mb-2" %>
        </div>
          <div class="flex flex-col items-center justify-center">
            <p class="text-secondary-200 mb-2 text-xs text-center lg:text-base"> <%= coloc_tasks_fields.label coloc_tasks_fields.object.task.name %> </p>
              <label class="switch">
                <%= coloc_tasks_fields.check_box  :task_id, { checked: false } , coloc_tasks_fields.object.task.id %>
                <span class="slider round"></span>
              </label>
            <%= coloc_tasks_fields.hidden_field :difficulty  %>
          </div>
      </li>
    <% end %>
  </ul>
  <div class="validate_tasks">
    <%= form.submit 'Je valide mes tâches', class: 'btn-primary mb-4 lg:mb-8' %>
  </div>
<% end %>