<h1>Gestion de la coloc</h1>

<p>Pour qu'un utilisateur rejoigne ta coloc, envoie-lui ce code : <%= @coloc.invite_token %></p>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= cl_image_tag user.avatar.key, height: 25, width: 25 %>
      <%= user.username %>
      <% if user != @coloc.leader %>
        <%= link_to "X", remove_coloc_user_path(@coloc, user), method: :delete, data: { confirm: "Retirer #{user.username} de la coloc ?" } %>
      <% end %>
    </li>
  <% end %>
</ul>

<ul>
  <% @coloc_tasks.each do |task| %>
    <li>
      <%= cl_image_tag task.image.key, class:"task-content", height: 130, width: 130 %>
      <%= task.name %>
    </li>
  <% end %>
</ul>

<%= simple_form_for @coloc do |f| %>
  <%= f.input :name %>  
  <%= f.submit %>  
<% end %>
