<!-- partial ongoing_tasks/index.html.erb -->
<div class="lg:h-16 lg:w-16 h-12 w-12 mb-4">
  <%= cl_image_tag task.image.key, class: finished_task_img_class?(task), data: { task_id: task.id }%>
</div>
<p class="text-xs lg:text-base text-center mb-4 <%= finished_carrot_img_class?(task) %>"">
  <%= task.name %>
</p>
<div class="<%= finished_carrot_img_class?(task) %> carrot_price_circle ">
  <div>
    <%= image_tag 'carrot_icon.png' , alt: 'carrot_price', class:"w-4 h-6 pr-1" %>
  </div>
  <div>
    <h3><%= task.final_points %></h3>
  </div>
</div>

<% if task.finished? %>
  <img src="https://img.icons8.com/office/80/000000/checked--v1.png" class="w-8 h-8 absolute top-1 right-1 sm:top-2 sm:right-2" />
<% end %>

<!-- Modal Section -->

<div class="bg-modal" id="task<%= task.id %>">
  <div class="modal-content">
    <div class="close" data-task-id="<%= task.id %>">
      +
    </div>
    
    <div class="flex justify-center items-center">
      <%= cl_image_tag task.image.key, width: 200, height: 200, class: 'modal-img w-32 h-32 lg:w-52 lg:h-52' %>
    </div>
    <div class="potential-carrots-earned">
      <h3 class="potential-carrots-text">Cette tâche rapporte <span class="font-bold"><%= task.final_points %></span></h3>
      <%= image_tag 'carrot_icon.png', alt: 'carrot_price', class:"pl-2"%>
    </div>

    <% if task.done %>
      <p>Tâche faite <%= l(task.finished_at, format: '%A') %> par <%= task.user.username %>.</p>
      <p>Preuve photo :</p>
      <%= cl_image_tag task.photo_after.key, width: 100, height: 100, crop: :fill %>
    <% elsif assignment %>
      <% if task.user_id.nil? %>
        <p class="mb-4 text-darkGrey-50">Cette tâche n'est affectée à personne. Fais-la et récupère des carottes !</p> 
        <%= link_to "J'ai fait cette tâche", validate_task_path(task), class:"btn-border-primary" %>
      <% else %>
        <p class="mb-4 text-darkGrey-50"><%= task.user.username %> doit faire cette tâche cette semaine.</p>
      <% end %>
    <% elsif validation %>
      <div class="modal-validate">
        <%= link_to validate_task_path(task), class:'action-task' do %>
          <%= image_tag "task_done.png", class:"w-16 h-16 lg:h-20 lg:w-20" %>
          <%= content_tag :p, "Je valide cette tâche", class: "mt-4 font-medium text-xs lg:text-xl" %>
        <% end %>

        <%= link_to ongoing_task_carotted_tasks_path(task), method: :post, class:'action-task' do %>
          <%= image_tag "task_carrot.png", class:"w-16 h-16 lg:h-20 lg:w-20" %>
          <%= content_tag :p, "J'assigne cette tâche", class: "mt-4 font-medium text-xs lg:text-xl" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

