<!-- partial ongoing_tasks/index.html.erb -->

<%= cl_image_tag task.image.key, class:"task-content", data: { task_id: task.id }, height: 100, width: 100 %>
<p class="carrot-circle"><%= task.final_points %></p>

<!-- Modal Section -->

<div class="bg-modal" id="task<%= task.id %>">
    <div class="modal-content">
        <%= cl_image_tag task.image.key, height: 200, width: 200, class: 'modal-img' %>
        <div class="close" data-task-id="<%= task.id %>">+</div>
        <h1 class="violet-100 margin-t-64"><%= task.name %></h1>
        <h3 class="carrot-circle margin-auto margin-b-64"><%= task.final_points %></h3>
        <% if assignment %>
            <p>
                <% if task.user_id.nil? %>
                    Affectée à personne...
                <% else %>
                    Affectée à <%= task.user.username %>
                    (<%= t('counts.points', count: task.user.current_points) %>).
                <% end %>
            </p>
        <% end %>
        <% if validation %>
            <div class="modal-validate">
                <div>
                    <%= link_to image_tag("task_done.png"), validate_task_path(task) %>
                    <p>Je valide cette tâche</p>
                </div>
                
                <div>
                    <%= link_to image_tag("task_carrot.png"), ongoing_task_carotted_tasks_path(task) %>
                    <p>J'assigne cette tâche</p>
                    <!-- <%= button_to "Carotte tes colocs !", ongoing_task_carotted_tasks_path(task), method: :post %> -->
                </div>
            </div>
        <% end %>
    </div>
</div>
