<!-- partial ongoing_tasks/index.html.erb -->

<%= cl_image_tag task.image.key, class:"task-content", data: { task_id: task.id }, height: 100, width: 100 %>
<%= task.final_points %>

    <!-- Modal Section -->

    <div class="bg-modal" id="task<%= task.id %>">
        <div class="modal-content">
            <div class="close" data-task-id="<%= task.id %>">+</div>
            <h1><%= task.name %></h1>
            <h3>* <%= task.description %> *</h3>
            <p>Nombre de carottes : <%= task.final_points %></p>              
            <% if unassigned %>
            <p>
                <% if task.user_id.nil? %>
                    Affecté à personne...
                <% else %>
                    Affecté à <%= task.user.username %>
                <% end %>
            </p>
            <% end %>
        </div>
    </div>