<!-- partial ongoing_tasks/index.html.erb -->

<%= cl_image_tag task.image.key, class:"task-content", data: { task_id: task.id }, height: 100, width: 100 %>
<div class="d-flex carrot-circle-big align-center">
    <div>
        <h3 class="white"><%= task.final_points %></h3>
    </div>
    <div>
        <%= image_tag 'carrot_icon.png', alt: 'carrot_price', class: 'carrot-icon padding-l-5'%>
    </div>
</div>


<!-- Modal Section -->

<div class="bg-modal" id="task<%= task.id %>">
    <div class="modal-content">
        <div class="close" data-task-id="<%= task.id %>">+</div>

            <div class="d-flex carrot-circle-big align-center" style="margin: 64px auto">
                <%= cl_image_tag task.image.key, height: 200, width: 200, class: 'modal-img' %>

                <div>
                    <h3 class="white"><%= task.final_points %></h3>
                </div>
            <div>

                <%= image_tag 'carrot_icon.png', alt: 'carrot_price', class: 'carrot-icon padding-l-5'%>
            </div>
        </div>
        <% if assignment %>
            <p>
                <% if task.user_id.nil? %>
                    Affectée à personne...
                    <%= link_to "J'vais l'faire !", assign_task_path(task) %>
                <% else %>
                    Affectée à <%= task.user.username %>
                    (<%= pluralize(task.user.current_points, 'carotte') %>).
                <% end %>
            </p>
        <% end %>
        <% if validation %>
            <div class="modal-validate">
                <div>
                    <%= link_to image_tag("task_done.png"), validate_task_path(task) %>
                    <p>Je valide cette tâche</p>
                </div>
                
                <div>
                    <%= link_to image_tag("task_carrot.png"), ongoing_task_carotted_tasks_path(task) , method: :post  %>
                    <p>J'assigne cette tâche</p>
                    <!-- <%= button_to "Carotte tes colocs !", ongoing_task_carotted_tasks_path(task), method: :post %> -->
                </div>
                
                <% if !task.auto_assigned %>
                  <div>
                    <%= link_to "En fait, j'vais pas l'faire", unassign_task_path(task), method: 'patch' %>
                  </div>
                <% end %>
                
            </div>
        <% end %>
    </div>
</div>
