<!-- partial ongoing_tasks/index.html.erb -->

<%= cl_image_tag task.image.key, class:"user-task-content", height: 100, width: 100 %>
<%= task.final_points %>

    <!-- Modal Section -->

<div class="bg-modal" id="user-task<%= index %>">
    <div class="modal-content">
        <div class="close close-user-task">+</div>
        <h1><%= task.name %></h1>
        <h3>* <%= task.description %> *</h3>
        <p>Nombre de carottes : <%= task.final_points %></p>              
    </div>
</div>