<%# écran avant 1ère répartition des tâches selon user %>
<% if (current_user.coloc.assignment_day.nil?) && (current_user.id == current_user.coloc.leader_id) %>
  <h3 class="text-center mb-8 text-sm">Avant de continuer,<br>assure toi que le logement soit au complet</h3>
  <div class="text-center">
    <p class="text-base mb-4">On est tous là, c'est parti :</p>
    <%= button_to "Créer et distribuer les tâches", start_ongoing_tasks_path, class: "btn-primary" %>
  </div>
  <%= @error %>
<% elsif (current_user.coloc.assignment_day.nil?)%>
  <p>La coloc n'est pas encore au complet, réessaie plus tard !</p>
  <%= link_to "Réessayer", ongoing_tasks_path %>
  
<%# écran après 1ère répartition des tâches %>
<% else %>
  <%# tâches du current user %>
  <div class="my-task-card mb-8">
    <h3 class="text-secondary-200 text-sm lg:text-xl">Mes tâches de la semaine</h3>
    <div class="grid-layout">
      <% @user_tasks.each do |task| %>
        <div>
          <%= render "ongoing_tasks/ongoing_tasks", task: task, assignment: false, validation: true%>
        </div>
      <% end %> 
    </div>
  </div>
  
  <%# tâches non assignées %>
  <div class="my-task-card mb-8">
    <h3 class="text-tertiary-200 text-sm lg:text-xl">Tâches non assignées</h3>
    <div class="grid-layout">
      <% @unassigned_tasks.each do |task| %>
        <div>
          <%= render "ongoing_tasks/ongoing_tasks", task: task, assignment: true, validation: false %>
        </div>
      <% end %>
    </div>
  </div>

  <%# tâches des colocs %>
  <div class="my-task-card mb-12 ml-8">

    <h3 class="tertiary-title text-darkGrey-50"><%= current_user.coloc.name %></h3>
    <% @users_coloc.each do |user| %>
      <div class="coloc-avatar-name">
        <div>
          <%= cl_image_tag user.avatar.key, height: 80, width: 80, class:"pr-2 rounded-full" %>
        </div>
      
        <div class="mt-2 uppercase">
          <%= user.username %>
        </div>
      </div>
      <div class="grid-layout">
        <% user.ongoing_tasks.each do |task| %>
        <div>
          <%= render "ongoing_tasks/ongoing_tasks", task: task, assignment: true, validation: false %>
        </div>
        <% end %>
      </div>
    <% end %> 
  </div>

  <div>
    <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
  </div>
  <div>
    <% if current_user.id == current_user.coloc.leader_id %>
      <%= link_to "> Gérer la coloc", edit_coloc_path(current_user.coloc), class:"btn-border-purple ml-8" %>
    <% end %>
  </div>
<% end %>
