<h3 class="mx-auto text-secondary-200 text-center upcase">Quelqu'un t'a aidé ?</h3>

<%= form_with model: @ongoing_task, url: validation_update_path(@ongoing_task) do |form| %>
<div class="choose_task_grid mt-8">
  <%= form.fields_for :helpers do |helpers_fields| %>
    <div class="flex flex-col justify-center items-center">
      <label for="<%= helpers_fields.object.user.id %>">
        <%= cl_image_tag helpers_fields.object.user.avatar.key, height: 60, width: 60, crop: :fill, class:"rounded-full mb-2"  %>
      </label>
      <%= helpers_fields.object.user.username %>
      <%= helpers_fields.check_box :user_id, { checked: false }, helpers_fields.object.user.id %>
      <%= helpers_fields.hidden_field :ongoing_task_id  %>
      
    </div>
  <% end %>

</div>

  <hr class="dashed">

  <h3 class="text-secondary-200 text-center">PROUVE-LE A TES COLOCS !</h3>
  
  <div class="container-photo mt-8">
    <%= form.label :photo_after do %>
      <%= image_tag 'camera.png', alt: 'camera', class: 'preview_img camera_img mx-auto' %>
      <%= content_tag :p, 'Je prends une photo', class: 'text-tertiary-200 mt-2 text-center' %>
      <%= form.file_field :photo_after, class: 'hidden', accept: "image/jpeg, image/jpg,image/gif,image/png" %>
      <%= @ongoing_task.errors.full_messages.first if @ongoing_task.errors.any? %>
    <% end %>
    <%= form.submit 'Je valide ma tâche', class: 'btn-primary mb-4 lg:mb-8 mt-8' %>
  </div>
<% end %>
